
<ion-content padding>
  <h1 text-center>Notewrite</h1>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        Email
      </ion-label>
      <ion-input type="text" [(ngModel)]="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="psswd" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="dark" expand="block" (click)="OnSubmitLogin()">Login</ion-button>
  <ion-label (click)="goToRegister()">Crea una cuenta aqui</ion-label>
</ion-content>
