<ion-header>
  <ion-toolbar>
    <ion-title>
      Editar nota
    </ion-title>
    <ion-buttons slot="start">
      <ion-icon  style="margin-left:10px;margin-right:10px;" slot="icon-only" name="checkmark" (click)="editNota()"></ion-icon>
    </ion-buttons> 
    <ion-buttons slot="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-item>
      <ion-label position="floating">Titulo de la nota</ion-label>
      <ion-input  type="text" [(ngModel)]="nota.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="nota.descripcion"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>